<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Keyword List</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
<body>

<form action="/chart" method="POST" class="textbox">
  <input id="Input" type="search" name="keyword" placeholder="例: キーワード　入力" autocomplete="off">
    <button type="submit" name="keyword"　onclick="showDiv()"><i class="fas fa-search-plus" aria-hidden="true" onclick="showDiv()"></i></button>
</form>

<div id="loading"><img src="/static/images/Loading_icon.gif"></div>

<script>
function showDiv() {
 document.getElementById("loading").style.display = "block";
}

var input = document.getElementById("Input");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   showDiv();
  }
});
</script>
</div>
</body>
</html>
